{% extends 'base.html.twig' %}

{% block title %}Fable{% endblock %}

{% block body %}


<body class="bg-light">
    <header>
        <div class="container-fluid">
            <div class="row">
                <nav class="col navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container-fluid">
                        <img src="image/logo2.png" alt="img" width="">
                            <h1 class="text-light display-3 fw-bold">FunBook</h1>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                                <li class="nav-item">
                                    <a class="nav-link active text-light" aria-current="page" href="/">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active text-light" aria-current="page" href="/head">Test</a>
                                </li>
                                  <li class="nav-item">
                                    <a class="nav-link text-light" href="/book">Livre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/contact">Contact</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/signup">Inscription</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/login">Connexion</a>
                                </li>
                                
                            </ul>
                            <form class="d-flex">
                                <input
                                    class="form-control me-2"
                                    type="search"
                                    placeholder="Search"
                                    aria-label="Search"
                                />
                                <button class="btn btn-outline-light" type="submit">
                                    Search
                                </button>                      
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
		<div id="head2" class="mb-5">
			<nav aria-label="breadcrumb primary">
				<ul class="breadcrumb">
				  <li class="breadcrumb-item"><a href="accueil.html">Accueil</a></li>
				  <li class="breadcrumb-item" aria-current="page"><a href="fables.html"><span class="text-primary">Fables</span></a></li>
				</ul>
			  </nav>
		</div>
		
			<div class="container shadow-lg p-3 mb-5 bg-white rounded  ">
				<h1 class="text-center mt-5 mb-5">Fables et poésies</h1>

				<div class="row">
					
					<div class="card
					shadow
					p-3
					mb-5
					bg-white
					rounded
					col-10 col-md-10 col-xl-5 
					flex-row flex-wrap
					ms-5 me-5" >
					<div class="row">
						<a href="chanson.html">
						<img class="card-img-top" src="/Fable/image/hirondelle.jpg" alt="Card image cap">
					</a>
						<div class="card-body">
						  <p class="card-text text-dark fs-5 mb-5">Les hirondelles sont parties.
							Le brin d'herbe a froid sur les toits ;
							Il pleut sur les touffes d'orties.
							Bon bûcheron, coupe du bois.
							
							Les hirondelles sont parties.
							L'air est dur, le logis est bon.
							Il pleut sur les touffes d'orties.
							Bon charbonnier, fais du charbon...</p>
						  <a href="fables.html" class="btn btn-primary position-absolute bottom-0 start-0 m-3"
										>Fables et poésie</a
									>
						  
						</div>
					</div>
					</div>
					

					
					<div class="card
					shadow
					p-3
					mb-5
					bg-white
					rounded
					col-10 col-md-10 col-xl-5 
					flex-row flex-wrap
					ms-5 me-5">
					<a href="loup_agneau.html">
						<img class="card-img-top" src="/Fable/image/loup_agneau.jpg" alt="Card image cap"></a>
						<div class="card-body">
						  <p class="card-text fs-5 mb-5">La raison du plus fort est toujours la meilleure :
							Nous l'allons montrer tout à l'heure.
							Un Agneau se désaltérait
							Dans le courant d'une onde pure.
							Un Loup survient à jeun qui cherchait aventure,
							Et que la faim en ces lieux attirait...</p>
							<a href="fables.html" class="btn btn-primary position-absolute bottom-0 start-0 m-3"
										>Fables et poésie</a
									>
						</div>
					  </div>

					  
					  <div class="card
					  shadow
					  p-3
					  mb-5
					  bg-white
					  rounded
					  col-10 col-md-10 col-xl-5 
					  flex-row flex-wrap
					  ms-5 me-5" >
					  <a href="chene.html">
						<img class="card-img-top" src="/Fable/image/chêne.png" alt="Card image cap"></a>
						<div class="card-body">
						  <p class="card-text fs-5 mb-5">Le Chêne un jour dit au Roseau :
							Vous avez bien sujet d'accuser la Nature ;
							Un Roitelet pour vous est un pesant fardeau.
							Le moindre vent qui d'aventure
							Fait rider la face de l'eau,
							Vous oblige à baisser la ...</p>
							<a href="fables.html" class="btn btn-primary position-absolute bottom-0 start-0 m-3"
										>Fables et poésie</a
									>
						</div>
					  </div>


					  <div class="card
					  shadow
					  p-3
					  mb-5
					  bg-white
					  rounded
					  col-10 col-md-10 col-xl-5 
					  flex-row flex-wrap
					  ms-5 me-5" >
					  <a href="corbeau_renard.html">
						<img class="card-img-top" src="/Fable/image/corbeau_renard.jpg" alt="Card image cap"></a>
						<div class="card-body">
						  <p class="card-text fs-5 pt-3 mb-5">La raison du plus fort est toujours la meilleure :
							Nous l'allons montrer tout à l'heure.
							Un Agneau se désaltérait
							Dans le courant d'une onde pure.
							Un Loup survient à jeun qui cherchait aventure,
							Et que la faim en ces lieux attirait.
							Qui te rend si hardi de troubler mon breuvage ?
							Dit cet animal plein de rage :
							Tu seras châtié de ta témérité.
							— Sire, répond l'Agneau, que votre Majesté
							Ne se mette pas en colère ;
							Mais plutôt qu'elle considère
							Que je me vas désaltérant
							Dans le courant,
						  </p>
							<a href="fables.html" class="btn btn-primary position-absolute bottom-0 start-0 m-3"
										>Fables et poésie</a
									>
						</div>
					  </div>
				</div>
			</div>
		</main>
    <footer class="text-center text-lg-start text-light bg-dark mt-5">
        
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          
          <div class="me-5 d-none d-lg-block">
            <span>Connectez-vous avec nous sur les réseaux sociaux :</span>
          </div>
          
          <div>
            <a href="https://www.facebook.com/" class="me-4 text-reset">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://twitter.com/?lang=fr" class="me-4 text-reset">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.google.fr/webhp?authuser=0" class="me-4 text-reset">
                <i class="bi bi-google"></i>
            </a>
            <a href="https://www.instagram.com/?hl=fr" class="me-4 text-reset">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/feed/" class="me-4 text-reset">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://github.com/" class="me-4 text-reset">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.whatsapp.com/?lang=fr" class="me-4 text-reset">
                <i class="bi bi-whatsapp"></i>
            </a>
          </div>
          
        </section>
        
        <section class="">
          <div class="container text-center text-md-start mt-5">
            
            <div class="row mt-3">
              
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>FunBook
                </h6>
                <p>
                    Le site web FunBook est un site communautaire de partage de livre en ligne 
                    où les membres peuvent lire facilement des livres, 
                    peuvent créer des histoires et peuvent partager des avis sur la littérature.
                </p>
              </div>
              
            
              
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  Aide links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Témoinages</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Aide en ligne</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Patreon</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Parrainage</a>
                </p>
              </div>
              
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  jonathan.datil@gmail.com
                </p>
    
              </div>
             
            </div>
           
          </div>
        </section>
        
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="#">Mentions légales</a>
        </div>
        
      </footer>
{% endblock %}
