<!DOCTYPE html>

<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% block stylesheets %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/book.css') }}"> 
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    

    
    {% block body %}
    {% endblock %}
    

    
    {% block javascripts %}
    <script src="/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>